In [2]:
import pandas as pd
from scipy import stats

In [3]:
data = pd.read_csv('data.csv')

In [11]:
# data.loc[data['sum'] < 8, 'use'] = 'Low'
# data.loc[data['sum'] >= 8, 'use'] = 'High'

# high_social_media = data[data['use'] == "High"]
# low_social_media = data[data['use'] == "Low"]

In [15]:
data.loc[data['use during study score'] < 3, 'use'] = 'Low'
data.loc[data['use during study score'] >= 3, 'use'] = 'High'

high_social_media = data[data['use'] == "High"]
low_social_media = data[data['use'] == "Low"]

# print(high_social_media)
# print(low_social_media)

    Gender  Age  sleep scores  hour score  use during study score  sum  \
0     Male   20             2           3                       3    8
1     Male   21             3           2                       3    8
2     Male   21             3           6                       5   14
3   Female   20             3           4                       3   10
6     Male   21             3           2                       4    9
8   Female   21             3           1                       3    7
13    Male   20             2           2                       4    8
14  Female   20             3           3                       4   10
15    Male   19             2           3                       3    8
17    Male   20             3           2                       4    9
24    Male   20             3           3                       4   10
25    Male   20             2           2                       3    7
28  Female   20             3           4                       3   10
32    Male   20             3           3                       3    9
33  Female   20             3           3                       3    9
34    Male   19             3           2                       3    8
35    Male   21             1           2                       3    6
37    Male   21             3           1                       3    7
39    Male   20             2           3                       3    8
46    Male   20             2           0                       3    5
47    Male   19             1           2                       3    6
49    Male   20             3           3                       3    9
50    Male   21             1           1                       4    6
53    Male   20             2           2                       3    7
54    Male   20             2           2                       4    8
55    Male   20             3           2                       4    9
56    Male   19             3           2                       4    9
57    Male   19             3           2                       4    9
58    Male   19             3           2                       4    9
59    Male   19             3           2                       4    9
60    Male   19             3           2                       4    9
61    Male   19             3           2                       4    9
62    Male   19             3           2                       4    9
63    Male   19             3           2                       4    9
64    Male   19             3           2                       4    9
65    Male   19             3           2                       4    9
66    Male   19             3           2                       4    9
67    Male   19             3           2                       4    9
68    Male   19             3           2                       4    9
69    Male   19             3           2                       4    9
70    Male   19             2           2                       3    7
71    Male   19             1           0                       3    4

    converted gpa  impact score   use
0           3.000             2  High
1           3.230             2  High
2           3.360             1  High
3           3.290             2  High
6           3.100             3  High
8           3.710             2  High
13          3.732             3  High
14          3.432             2  High
15          3.600             1  High
17          3.200             2  High
24          3.380             3  High
25          3.976             2  High
28          3.450             2  High
32          3.628             2  High
33          3.140             2  High
34          3.340             2  High
35          3.300             3  High
37          3.640             3  High
39          2.900             3  High
46          3.000             3  High
47          3.100             1  High
49          3.000             3  High
50          2.770             3  High
53          3.380             2  High
54          3.040             3  High
55          2.900             2  High
56          2.900             2  High
57          2.900             2  High
58          2.900             2  High
59          2.900             2  High
60          2.900             2  High
61          2.900             2  High
62          2.900             2  High
63          2.900             2  High
64          2.900             2  High
65          2.900             2  High
66          2.900             2  High
67          2.900             2  High
68          2.900             2  High
69          2.900             2  High
70          2.900             3  High
71          3.300             1  High
    Gender  Age  sleep scores  hour score  use during study score  sum  \
4     Male   21             2           2                       2    6
5   Female   20             2           3                       2    7
7     Male   20             3           0                       2    5
9   Female   21             3           3                       2    8
10  Female   21             3           3                       2    8
11  Female   22             3           2                       2    7
12    Male   19             3           1                       2    6
16    Male   21             1           2                       2    5
18    Male   21             3           2                       2    7
19    Male   20             2           2                       2    6
20    Male   20             1           1                       2    4
21    Male   20             2           3                       2    7
22    Male   20             2           2                       2    6
23    Male   21             3           4                       2    9
26    Male   21             1           2                       2    5
27    Male   21             3           2                       2    7
29    Male   20             3           1                       2    6
30  Female   20             2           2                       2    6
31    Male   21             3           3                       2    8
36    Male   21             1           0                       2    3
38  Female   20             2           1                       2    5
40  Female   20             2           1                       2    5
41    Male   21             3           1                       2    6
42    Male   21             3           3                       2    8
43    Male   20             3           3                       2    8
44    Male   19             1           0                       1    2
45    Male   20             3           2                       1    6
48    Male   19             1           3                       2    6
51    Male   20             3           1                       2    6
52    Male   21             3           2                       1    6
72  Female   20             3           3                       2    8
73  Female   21             3           3                       2    8

    converted gpa  impact score  use
4           3.560             2  Low
5           3.730             2  Low
7           3.220             3  Low
9           3.220             2  Low
10          3.788             2  Low
11          3.440             1  Low
12          3.400             1  Low
16          3.280             3  Low
18          3.220             1  Low
19          3.716             2  Low
20          3.120             2  Low
21          2.980             2  Low
22          3.310             3  Low
23          3.610             3  Low
26          2.700             3  Low
27          3.600             1  Low
29          2.800             1  Low
30          3.210             3  Low
31          3.530             2  Low
36          3.560             2  Low
38          3.230             1  Low
40          3.600             1  Low
41          3.600             3  Low
42          3.250             1  Low
43          3.260             2  Low
44          3.800             1  Low
45          3.300             1  Low
48          3.010             3  Low
51          3.700             1  Low
52          3.440             2  Low
72          2.920             1  Low
73          3.530             2  Low

In [16]:
stats.levene(high_social_media['converted gpa'], low_social_media['converted gpa'])

LeveneResult(statistic=0.027519478215721937, pvalue=0.8687084932926717)

In [17]:
if stats.levene(high_social_media['converted gpa'], low_social_media['converted gpa'])[1] < 0.05:
    t, p = stats.ttest_ind(high_social_media['converted gpa'], low_social_media['converted gpa'], equal_var=False)
else:
    t, p = stats.ttest_ind(high_social_media['converted gpa'], low_social_media['converted gpa'])

In [18]:
print(t)
print(p)

-3.0506656885228365
0.0031953771895249484